<html>
    <head>
        <title>Kelly's Shoes: Let's Get Em!</title>
    </head>
    <body>
        <h1>Available Brands</h1>

        {% if brands is not empty %}
            <p>Choose a brand to find which stores carry it.</p>
            <ul>
                {% for brand in brands %}
                    <li><a href="/brands/{{ brand.getId }}">{{ brand.getName }}</a></li>
                {% endfor %}
            </ul>
        {% else %}
            <p>No brands appear to have been added.  Fill out the form below to add one.</p>
        {% endif %}

        <form action="/brands" method="post">
            <label for="name">Enter the name of the brand:</label>
            <input id="name" placeholder="Brand name" name="name" type="text" required>
            <button type="submit">Add brand</button>
        </form>

        <form action="/delete_brands" method="post">
            <button type="submit">Clear all brands</button>
        </form>

        <p><a href="/">Home</a></p>
    </body>
</html>
