<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <title>Shoes, Let's Get Em!</title>
    </head>
    <body>
        <div class="container">
            <h1>Kelly's Shoes: Let's Get Em!</h1>
            <hr>
            <h3><a href="/stores">View a list of stores in your area</a></h3>
            <h2>OR</h2>
            <h3><a href="/brands">Browse by brand</a></h3>
        </div>
    </body>
</html>
