<html>
    <head>
        <title>Shoes, Let's Get Em!</title>
    </head>
    <body>
        <h1>Kelly's Shoes: Let's Get Em!</h1>

        <h3><a href="/stores">View a list of stores in your area</a></h3>
        <h2>OR</h2>
        <h3><a href="/brands">Browse by brand</a></h3>
    </body>
</html>
